<!DOCTYPE html>
<html lang="en">
<head>
  <title>wazamonogatari</title>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    input[type="file"]:hover, input[type="submit"]:hover {
      background-color: #f1edc6;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #4f4f4f;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    table tr:nth-child(odd) {
      background-color: #ecf0f1;
    }
  </style>
</head>
<body>
  <header class="bg-gray-800 text-white p-4">
    <h1 class="text-3xl font-bold underline">Aku Yorushika!</h1>
    <h2>Image Compression</h2>
  </header>
  
  <div class="container mx-auto px-4 py-12">
    <form name="form" action="/" method="POST" enctype="multipart/form-data" class="w-1/2 mx-auto">
      <div class="flex justify-center">
        <input class="block text-gray-700 bg-white border border-gray-300 rounded-md py-2 px-3 shadow-lg hover:shadow-md" type="file" name="image" accept="image/png, image/jpeg" required />
        <input class="ml-2 block text-gray-700 bg-white border border-gray-300 rounded-md py-2 px-3 shadow-lg hover:shadow-md" type="submit" />
      </div>
    </form>
  </div>

  <div class="container mx-auto px-4 py-12">
    {% if original_image %}
    <div class="flex flex-col gap-8">
      <div class="flex justify-between">
        <div class="w-1/2 mr-4">
          <h3 class="text-lg font-bold">Original Image</h3>
          <img src="{{ original_image }}" class="w-full h-full object-contain" />
        </div>

        <div class="w-1/2 ml-4">
          <h3 class="text-lg font-bold">Compressed Image</h3>
          <img src="{{ decompressed_image }}" class="w-full h-full object-contain" />
        </div>
      </div>

      <div class="flex justify-center">
        <table class="w-3/4">

          <tr>
            <th>Image_Size</th>
            <th>Original</th>
            <th>Compressed</th>
            <th>Compression Ratio</th>
          </tr>

          <tr>
            <td>Bits</td>
            <td>{{ original_size_huff }}</td>
            <td>{{ compressed_size_huff }}</td>
            <td>{{ compression_ratio_huff }} ({{ compression_percentage_huff }}%)</td>
          </tr>


          <tr>
            <td>Byte</td>
            <td>{{ original_size }}</td>
            <td>{{ compressed_size }}</td>
            <td>{{ compression_ratio }} ({{ compression_percentage }}%)</td>
          </tr>

          <tr>
            <td>KB</td>
            <td>{{ original_size_kb }} KB</td>
            <td>{{ compressed_size_kb }} KB</td>
            <td></td>
          </tr>

          <tr>
            <td>MB</td>
            <td>{{ original_size_mb }} MB</td>
            <td>{{ compressed_size_mb }} MB</td>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="flex justify-center mt-4">
        {% if decompressed_image %}
          <a href="/download" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" download>Download Decompressed Image</a>
        {% endif %}
      </div>


      <div class="flex justify-center mt-8">
        <a href="/tree_red" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          View Huffman Tree
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</body>

<footer class="bg-gray-800 p-4 text-white fixed bottom-0 left-0 w-full text-right text-sm">
  <p> 2024 Aku Yorushika - Your Beloved Image Compressor</p>
</footer>
</html>

